<h4>Requests</h4>

<div class="panel panel-default">

    <div class="panel-heading">
        <label for="last10">Last 5 only</label>
        <input id="last10" type="checkbox" ng-model="ctrl.last10" ng-change="ctrl.refreshRequests()" />

        <select ng-change="ctrl.refreshRequests()" ng-model="ctrl.state_selected">
            <option ng-repeat="x in ctrl.state"  value="{{x}}">{{x}}</option>
        </select>
        <label for="search">Filter by email</label>
        <input id="search" type="text" ng-model="ctrl.filter" ng-change="ctrl.refreshRequests()" />
    </div>

    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Email</th>
                <th>State</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="entry in ctrl.requests">
                <td ng-bind="entry.email"></td>
                <td ng-bind="entry.status"></td>
                <td ng-if="entry.status == 'pending' || entry.status == 'rejected'"><button class="btn btn-success" ng-click="ctrl.acceptRequest(entry)">Accept</button></td>
                <td ng-if="entry.status == 'pending' || entry.status == 'accepted'"><button class="btn btn-danger" ng-click="ctrl.rejectRequest(entry)">Reject</button></td>
            </tr>
        </table>
    </div>
</div>