<h4>Transfer</h4>

<div class="panel panel-default" style="text-align: center;">

    <div class="panel-heading">
        <h4>
            Balance <span class="label label-default" ng-bind="ctrl.account.balance"></span>
            Limit <span class="label label-default" ng-bind="ctrl.account.limit"></span>
        </h4>
    </div>

    <div class="panel-footer">
        <span class="label label-success" ng-bind="ctrl.message.ok"></span>
        <span class="label label-danger" ng-bind="ctrl.message.error"></span>
        <button class="btn btn-primary" ng-click="ctrl.modalOpen()">Modal dialog</button>
        <button class="btn btn-primary" ng-click="ctrl.confirm()">Confirm</button>
    </div>
</div>